.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
padding: 2rem;
border: 2px solid white;
border-radius: 1rem;
background-color: white;
}

.inputGroup {
display: flex;
flex-direction: column;
margin-bottom: 1rem;
}

.label {
font-size: 1.2rem;
margin-bottom: 0.5rem;
color: black;
}

.inputGroup input[type='text'] {
padding: 0.5rem;
border: none;
border-radius: 0.5rem;
background-color: black;
font-size: 1.2rem;
color: white;
}

.radioGroup {
display: flex;
flex-direction: row;
}

.inputGroup input[type='radio'] {
margin-right: 0.5rem;
}

.form button[type='submit'] {
padding: 1rem;
border: none;
border-radius: 0.5rem;
background-color: black;
color: white;
font-size: 1.2rem;
cursor: pointer;
transition: background-color 0.2s;
}

.form button[type='submit']:hover {
background-color: gray;
}

.error {
color: red;
}