.features {
  background-color: #000;
  color: #fff;
  padding: 80px 0;
  text-align: center;

}

.features h2 {
  font-size: 36px;
  margin-bottom: 60px;
}

.feature_container {
  display: flex;
  justify-content: center;
}

.feature {
  width: 300px;
  margin-right: 50px;
}

.feature img {
  width: 100%;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.feature p {
  font-size: 16px;
}
.feature:last-of-type{
  width: 300px;
  margin-right: 0;
}