.container {
  background-color:rgb(34, 120, 178);
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.button {
  padding: 0.5rem;
  background-color: #fff;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}